body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html{
  width: 100%;
  height: 100%;
  background-color: khaki;
  color: #343434;
}
html.dark{
  background: #121212;
  color: #bbb;
}
.mainVar{
  width: 100%;
  height: 1007px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainVar>h2{
  font-size: 80px;
  text-align: center;
}
.mainVar>h2>a{
  text-decoration: none;
}
.button{
  width: 15%;
  height: 25%;
  cursor: pointer;
  border-radius: 20%;
  background-color: lightskyblue;
  border: none;
}
.button>a{
  color: black;
  text-decoration: none;
}
.buttonDiv{
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gifSpan .gif{
  display: none;
}
.gifSpan:hover .gif{
  display: inline;
}
.gifSpan:hover .img{
  display: none;
}
/*지금까지는 mainMenu.html 파일을 꾸며주는 CSS*/
*{
  margin: 0;
  padding: 0;
}
.gameDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moveTime{
  font-size: 3rem;
  margin-top: 2rem;
  color: blue;
}
ul{
  margin-top: 1rem;
  list-style: none;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
li{
  width: 100px;
  height: 100px;
  color: #fff;
  background : url(https://placeimg.com/400/400/any);
}
.startButton{
  background: #3b5998;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.gameText{
  position: absolute;
  color: greenyellow;
  display: none;
}
.list_1{
  background-position-x: 0px;
  background-position-y: 0px;
}
.list_2{
  background-position-x: -100px;
  background-position-y: 0px;
}
.list_3{
  background-position-x: -200px;
  background-position-y: 0px;
}
.list_4{
  background-position-x: -300px;
  background-position-y: 0px;
}
.list_5{
  background-position-x: 0px;
  background-position-y: -100px;
}
.list_6{
  background-position-x: -100px;
  background-position-y: -100px;
}
.list_7{
  background-position-x: -200px;
  background-position-y: -100px;
}
.list_8{
  background-position-x: -300px;
  background-position-y: -100px;
}
.list_9{
  background-position-x: 0px;
  background-position-y: -200px;
}
.list_10{
  background-position-x: -100px;
  background-position-y: -200px;
}
.list_11{
  background-position-x: -200px;
  background-position-y: -200px;
}
.list_12{
  background-position-x: -300px;
  background-position-y: -200px;
}
.list_13{
  background-position-x: 0px;
  background-position-y: -300px;
}
.list_14{
  background-position-x: -100px;
  background-position-y: -300px;
}
.list_15{
  background-position-x: -200px;
  background-position-y: -300px;
}
.list_16{
  background-position-x: -300px;
  background-position-y: -300px;
}
